# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

###### ***Objectives :***
* Python
* Scala
* Java
* R
* SAS

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. VBA (Visual Basic for Applications)
5. Julia

Some of the commonly used libraries used by Data Scientists include:
* Scikit-learn
* Seaborn
* SciPy
* TensorFlow
* Statsmodels

| Data Science Tools |
---
| Apache Spark |
| Julia |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Mohammed